apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: default
data:
  grafana.ini: |
    [server]
    root_url = http://localhost:3000
    
    [security]
    admin_user = admin
    admin_password = admin
    
    [datasources]
    [datasources.prometheus]
    type = prometheus
    access = proxy
    url = http://prometheus-service:9090
    is_default = true
    editable = true
