apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'classifier-api'
        static_configs:
          - targets: ['cats-dogs-classifier-service:80']
        metrics_path: '/metrics'
